ul {
	list-style-type: none;
}

/* Navbar */
.nav-link {
	font-size: 15px;
}

/* About Me*/
#intro {
	color: #007BFF;
	font-weight: bold;
	font-size: 30px;
}

.about-me-fig {
	font-weight: bold;
}

#bio, .about-me-fig {
	color: #707070;
}

/* Portfolio */
#portfolio {
	margin-top: 500px;
}

#tech-header, #apps-header {
	color: #007BFF;
	font-weight: bold;
}

.tech-stack {
	color: #707070;
	font-weight: bold;
}

/* Images */
#headshot {
	height: 70px;
	width: 70px;
}

#communication {
	height: 100px;
	width: 100px;
}

#teamwork {
	height: 100px;
	width: 100px;
}

#curious {
	height: 100px;
	width: 100px;
}